<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body class="margin_global">
    <header>
        <div>
            <div><img class="logo" src="data:image/{{ img_ext }};base64,{{ image }}"></div>
            <div class="small-font">Made By:</div>
            <div class="small-font">Cristian Solervicéns - 2023</div>
            <br>
            <h1 class="center bold"> Diccionario de Datos: [{{ db_name }}]</h1>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>