<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body class="margin_global">
    <header>
        <div>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB00lEQVRYw71X25HDIAxcZdLAtZAWcAsuIS3EJfhKyJVAWklKMC2khZSg+4jt8JAM2L7TjCcxGHa1QgII242jd6oZTAuTkgIStDOH+ERURYIU0OC/D+IBJOBrSFDO8wlknBTMDCKaf6e2tSQOAiHGP9oxijFprCUvtRDU2CEC5lRJkqTdXQF1TdjBBKB2MDORv1iECfiSdY3Dnmkogncvl3TaLxOQCPoGM7XRtkJ0B+zT6t6fuoCIpE4JCV0BawFz00e6S0rEXYIxJSRoTewlIjOZp60icdycRx6YhVldB/axKARe2vJqBYxJs8A5k1VjFwUk8Kld65NsSYWKENhiglsPJGwH402u1YIuH5KC2rBhEdpdlFAL0cDIKJBXYirTfl2JVdghDWUlusbBDsbfG6qygBpKPVwbjqXKmtssCkLRef0fss0DQOvtjtex4zvELdkyPRJ5ax7eS/vx3gsDVSmA68z6Y37b/Q0UeShKL6UhLdxyCHcw3DhpP7b+jKAIPQ0OJC9l0bW64wyA0Y8PhKcH28HIfbmx+jdCCPq0ZttzFMd+Q9Kew5oQ3wuCD4RzHwHgy0lPq9vToXCu9xm24LbrK1V1WlIKUFUWlJBbe+wHAPwC3nDo"></div>
            <div class="small-font">Copyright</div>
            <div class="small-font">Cristian Solervicéns - 2023</div>
            <br>
            <h1 class="center bold"> Diccionario de Datos {{ db_name }}</h1>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>